.caixa1{
    background-color: rgba(77, 171, 248, 0.884);
    width: 300px;
    height: 300px;
    float: left;
  }
  .caixa2{
    background-color:rgb(180, 155, 240);
    width: 300px;
    height: 300px;
    float:right;
  }